        .ht1
        {
            background-image: linear-gradient(to right,orange,white,green);
            font-size: 50px;
            font-family: 'Times New Roman', Times, serif;
        }
        .bg1
        {

            background-image: linear-gradient(orange,white,green);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;

        }